

.header {
  background-color: #122b54;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.search {
  height: 30px;
  color: white;
  margin: 0;
  margin-left: 100px;
}

.sale {
  text-align: center;
}

.fumolist {
  display: grid;
  padding: 0 200px;
  background-color: lightgrey;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.fumo {
  margin: 30px;
}