<nav class="yuridex-sidebar" [ngClass]="{'mobile-sidebar': isMobile, 'expanded': showMenu, 'collapsed': !showMenu}">
  <div class="sidebar-buttons">
    <mat-slide-toggle [(ngModel)]="filterMode" (click)="resetScroll()" matTooltip="Toggle filter mode">
      <mat-icon>filter_alt</mat-icon>
    </mat-slide-toggle>
    <h3>Categories</h3>
  </div>
  @if (filterMode) {
    <div class="inputs">
      <div class="row">
        <input type="text" placeholder="Search..." [(ngModel)]="categoryFilter" (input)="filterCategories()">
        <button mat-flat-button (click)="clearFilter()">Clear</button>
      </div>
      <mat-checkbox [(ngModel)]="excludeOngoing" (click)="filterSeries()" matTooltip="Excludes series that are ongoing, and finished series with unfinished translations">Exclude ongoing</mat-checkbox>
    </div>
  }
  <div class="sidebar-content" >
    @if (!filterMode) {
      @for (category of categories; track $index) {
        <a [href]="'/yuri#category-'+category.id" (click)="hideMenu()">{{category.name}}</a>
      }
    }
    @if (filterMode) {
      <div class="filter-pills-container">
        @for (category of displayCategories; track $index) {
          <mat-chip (click)="setFilter(category)" [matTooltip]="category.description" [ngClass]="{'pill-green': getIsIncluded(category), 'pill-red': getIsExcluded(category)}">{{category.name}}</mat-chip>
        }
      </div>
      <button mat-flat-button class="only-mobile" (click)="hideMenu()">Filter</button>
    }
  </div>
</nav>
<div class="yuridex-content">
  @if (!filterMode) {
    @for (category of categories; track $index) {
      <div class="category-container" [id]="'category-'+category.id">
        <div class="category-header">
          <a [href]="'/yuri#category-'+category.id">{{category.name}}</a>
          <p>{{category.description}}</p>
        </div>
        <div class="grid-container">
          @for (manga of category.series; track $index) {
            <a class="manga-container" [href]="'/yuri/series/'+manga.id">
              <div class="manga-icons">
                <mat-icon *ngIf="isAnthology(manga)" matTooltip="This manga is an anthology (a collection of independent one-shots)" fontSet="material-symbols-outlined" class="blue">book_6</mat-icon>
                <mat-icon *ngIf="isOneshot(manga)" matTooltip="This manga is a one-shot (magazine published, doujinshi, or self-published online)" class="blue">looks_one</mat-icon>
                <mat-icon *ngIf="manga.nsfw" matTooltip="This manga contains some degree of NSFW content" class="red">18_up_rating</mat-icon>
                <mat-icon *ngIf="manga.completeTranslation" matTooltip="This manga is finished and fully translated" class="green">check_circle</mat-icon>
              </div>
              <div class="manga-cover" [ngStyle]="{'background-image': 'url(' + getCover(manga) + ')', '--shadow-color': (manga.anilistData.coverImage.color || '#dddddd')}" [id]="'cover-'+manga.id">
              </div>
              <h3 class="manga-title">{{getTitle(manga)}}</h3>
            </a>
          }
        </div>
      </div>
    }
  }
  @if (filterMode) {
    <div id="filter-results"></div>
    <div class="category-container">
      <div class="category-header">
        <h1>Filter results</h1>
        <p>
          @for (id of filterInclude; track $index; let last = $last) {
            +<span class="green-text">{{getCategoryById(id)}}</span>{{$last ? '' : ', '}}
          }
        </p>
        <p>
          @for (id of filterExclude; track $index; let last = $last) {
            –<span class="red-text">{{getCategoryById(id)}}</span>{{$last ? '' : ', '}}
          }
        </p>
      </div>
      <div class="grid-container">
        @for (manga of filteredSeries; track $index) {
          <a class="manga-container" [href]="'/yuri/series/'+manga.id">
            <div class="manga-icons">
              <mat-icon *ngIf="isAnthology(manga)" matTooltip="This manga is an anthology (a collection of independent one-shots)" fontSet="material-symbols-outlined" class="blue">book_6</mat-icon>
              <mat-icon *ngIf="isOneshot(manga)" matTooltip="This manga is a one-shot (magazine published, doujinshi, or self-published online)" class="blue">looks_one</mat-icon>
              <mat-icon *ngIf="manga.nsfw" matTooltip="This manga contains some degree of NSFW content" class="red">18_up_rating</mat-icon>
              <mat-icon *ngIf="manga.completeTranslation" matTooltip="This manga is finished and fully translated" class="green">check_circle</mat-icon>
            </div>
            <div class="manga-cover" [ngStyle]="{'background-image': 'url(' + getCover(manga) + ')', '--shadow-color': (manga.anilistData.coverImage.color || '#dddddd')}" [id]="'cover-'+manga.id">
            </div>
            <h3 class="manga-title">{{getTitle(manga)}}</h3>
          </a>
        }
      </div>
    </div>
  }
</div>