@import '../../../assets/variables.scss';

::ng-deep {
  app-yurilist {
    display: flex;
    height: 100%;
  }
}

a:hover {
  color: $yuri-violet;
}
.yuridex-container {
  background-color: #2f2f2f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1, h2, h3, p, a, span {
    font-family: "Roboto";
    color: $yuri-text;
  }
  mat-icon {
    color: $yuri-text;
  }
  .yuridex-header {
    background-color: #3c3c3c;
    border-bottom: 1px solid #6c6c6c;
    min-height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 0;
      color: $yuri-violet;
    }
  }
  .yuridex-body {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
  }
}

::ng-deep {
  app-yuridex {
    * {
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $yuri-violet;
        min-height: 40px;
        border-radius: 4px;
        &:hover {
          background-color: $yuri-violet2;
        }
      }
    }
  }
}