@use '../../../assets/variables.scss';

::ng-deep {
  app-yurilist {
    display: flex;
    height: 100%;
  }
}

a:hover {
  color: variables.$yuri-violet;
}
.yuridex-container {
  background-color: #2f2f2f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1, h2, h3, p, a, span {
    font-family: "Roboto";
    color: variables.$yuri-text;
  }
  mat-icon {
    color: variables.$yuri-text;
  }
  .yuridex-header {
    background-color: #3c3c3c;
    border-bottom: 1px solid #6c6c6c;
    min-height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      mat-icon {
        color: variables.$yuri-violet;
        transform: scale(1.5);
      }
      margin-right: 16px;
    }
    h1 {
      margin: 0;
      margin-top: 4px;
      flex: 1 0 auto;
      color: variables.$yuri-violet;
      font-family: "Playpen Sans", cursive;
    }
    .stats-container {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .stats {
        display: flex;
        align-items: center;
        mat-icon {
          margin-right: 4px;
          color: variables.$yuri-violet;
        }
      }
    }
    .last-updated {
      margin-right: 16px;
      margin-top: 1px;
    }
    .header-controls {
      a {
        display: flex;
        align-items: center;
        font-weight: 600;
        &, mat-icon {
          color: variables.$yuri-violet;
          text-align: c;
        }
        mat-icon {
          margin-right: 4px;
        }
      }
    }
  }
  .yuridex-body {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
  }
}

.divider {
  width: 2px;
  height: 24px;
  background-color: variables.$yuri-text;
  margin: 0 16px;
}

::ng-deep {
  app-yuridex {
    * {
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: variables.$yuri-violet;
        min-height: 40px;
        border-radius: 4px;
        &:hover {
          background-color: variables.$yuri-violet2;
        }
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .yuridex-container {
    .yuridex-header {
      min-height: fit-content;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 16px;
      justify-content: space-between;
      button {
        margin-right: 0;
        mat-icon {
          height: 26px;
        }
      }
      .stats-container {
        margin: 0;
        justify-content: center;
      }
    }
  }
} 