$yuri-violet: #D5BAFF;
$yuri-violet2: #9D90EB;
$yuri-violet3: #7b6ae2;
$yuri-violet-dark: #470093;
$yuri-red: #ff9595;
$yuri-green: #92ffad;
$yuri-blue-light: #82c7ff;
$yuri-text: #eeeeee;
$yuri-red-dark: #b82323;
$yuri-green-dark: #24a343;
$yuri-blue: #2584d1;