<div class="yurifaq-container">
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> Why?
    </h2>
    <p class="a">
      <span>A:</span> As a yuri schizo it's my sworn duty to spread the gospel of yuri as far as it can reach.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span>  What's up with the arbitrary categories?
    </h2>
    <p class="a">
      <span>A:</span>  They were revealed to me in a dream.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span>  Why is X not here?
    </h2>
    <p class="a">
      <span>A:</span> This is a curated list, so if a manga isn't present, it either means I haven't read it yet, or I have read it but I didn't consider it good enough to be recommended. Or I read it too long ago and forgot it existed.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> What the hell is DynastyScans?
    </h2>
    <p class="a">
      <span>A:</span> A very old website dedicated exclusively to yuri and yuri-adjacent titles. The reading experience is more rudimentary compared to a modern site design like mangadex, their tag pool is massive and with a level of specificity you won't find anywhere else. Dynasty also hosts a metric ton of doujins and fanmade content (of japanese origin), which is great for community-driven franchises like Touhou.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> Cool, but why are some translations on Mangadex so much far ahead of Dynasty?
    </h2>
    <p class="a">
      <span>A:</span> Usually, translators will upload new chapters to both sites. But Dynasty has a very tight, old fashioned and quite naive anti-snipe policy, under which they only let one group upload chapters for a series, and won't allow anyone else to upload new chapters unless the original group explicitly says they dropped the project. So when a translation group goes AWOL on a series (aka: most of the time) those end up abandoned forever on Dynasty. I think you also need to contact the admins for permissions to take over a series, idk it's just dumb. I'm sure it worked wonders in 2010 when this was a niche, but now it's nothing but problems.
    </p>
    <p>
      Also, Dynasty will often (though not always) halt uploads on mangas that are licensed; most commonly they won't allow chapters that are already available officially to be uploaded, but they often do permit a translation that is still ahead of the official releases to continue.
    </p>
    <p>
      I've linked the dynasty page for all series that have one as an extra resource, not a reading site. <u>My personal recommendation:</u> Use Dynasty for browsing so you can take advantage of their near infinite and ever expanding super specific tag pool, and use Mangadex for tracking and reading.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> Where do you find all this shit?
    </h2>
    <p class="a">
      <span>A:</span> I keep an eye on the "Recent releases" threads on /u/, where every single new thing is posted as soon as it's translated.
    </p>
    <p>They don't miss anything, because the vast majority of yuri is also being translated by anons in /u/.</p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> What the fuck is a yaya?
    </h2>
    <p class="a">
      <span>A:</span> Coined from the homonymous character in Strawberry Panic, a yaya is a girl who's close to the protagonist, usually a childhood friend, and harbors feelings for her but ulimately loses to an outsider. A good yaya will have a mental breakdown over this, though it's not mandatory in order to qualify as a yaya.
    </p>
    <p class>
      TL;DR: it's the yuri version of every single girl in Makeine.
    </p>
  </div>
  <div class="yurifaq">
    <h2 class="q">
      <span>Q:</span> Is your head ok?
    </h2>
    <p class="a">
      <span>A:</span> Do you have to ask?
    </p>
  </div>
</div>